@import "tailwindcss";
html,
body {
  overflow-x: hidden;
  cursor: none;
}

.social-btn {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  color: #93c5fd;
  transition: all 0.3s ease;
}
