@import "tailwindcss";
html,
body {
  overflow-x: hidden;
  cursor: none;
}

.social-btn {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  color: #93c5fd;
  transition: all 0.3s ease;
}

/* Chrome, Edge, Safari */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00aaff, #0088cc);
  border-radius: 10px;
  border: 2px solid #020617;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #00e0ff, #0095dd);

  box-shadow:
    0 0 10px #00aaff66,
    0 0 20px #00aaff33;
}

/* Firefox */

* {
  scrollbar-width: thick;
  scrollbar-color: #00aaff #020617;
}
